html {
	height: 100%;
    background-repeat: no-repeat;
	background: #eef2f3;
/*	background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab) fixed;
	background: linear-gradient(to bottom, #eef2f3, #8e9eab) fixed;*/
}
body {
	background-color: transparent;
	/*margin-top: 100px;*/
	margin-bottom: 50px;
	height: 100%;
}
audio {
	background: transparent;
	text-indent: 0;
	height: 50px;
	width: 85%;
/*	border-radius: 5px;*/
}
div {
	background-color: transparent;
}
button {
	background-color: transparent;
	color: #222;
}
/*input[type="radio"] {
	display: none;
}*/
label input[type="radio"]:checked ~ span {
  color: #e5491d;
}
label:hover {
	color: #e5491d;
}
.alert-warning {
	color: black;
	background-color: white;
}
.container-fluid {
	font-family: 'Montserrat', sans-serif;
	color: #222;
}
.nav-title {
	font-family: 'Raleway', sans-serif;
}
.navbar-default {
    /*background: #111122;*/
    border: none;
    border-radius: 0;
    top: 0;
    z-index: 50;
    /*position: fixed;*/
    width: 100%;
    background: transparent;
/*	background: -webkit-linear-gradient(to bottom, #ddd, #FFFFFF);
	background: linear-gradient(to bottom, #ddd, #FFFFFF);*/
	/*opacity: 0.85;*/
    /*filter: alpha(opacity=50);*/
}
.form-signin {
	margin-top: 100px;
	background-color: white;
}
.form-control-signin {
	border: 0;
	border-bottom: 1.5px solid #cccccc;
	border-radius: 0;
	outline: none;
	background: transparent;
	color: black;
	box-shadow: none;
	margin-top: 10px;
}
.list-group-item {
	background-color: transparent;
	border: solid #777 1px;
/*	border-right: none;
	border-left: none;
	border-top: none;*/
}
.title {
	font-family: 'Raleway', sans-serif;
}
.btn {
	border: solid lightGrey 1px;
}
.btn-color {
    background-color: transparent;
    color: #222;
    border-radius:0;
    border: solid black 1px;
}
.btn-color:hover {
	color: #e5491d;
}
.btn-none {
	border: none;
	background-color: transparent;
	color: #222;
}
.btn-none:hover {
	color: #e5491d;
}
.btn-search {
	text-align: left;
}
.user-info {
	/*border-right: solid #777 1px;*/
	margin-left: 20px;
	margin-right: 20px;
}
.profile-img {
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
	/*border: solid #eee 2px;*/
}
.friend-img {
	height: 30px;
	border-radius: 4px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
	transition: height 0.5s;
	-webkit-transition: height 0.5s;
}
.friend-img:hover {
	height: 50px;
}
.track-search-img {
	height: 60px;
	border-radius: 4px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}
.track-img {
	height: 60px;
	border-radius: 4px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
	transition: height 0.5s;
	-webkit-transition: height 0.5s;
}
.track-img:hover {
	height: 70px;
}
.event-img {
	height: 50px;
	border-radius: 4px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
	margin-right: 10px;
}
.playlist-block {
	height: 500px;
	overflow-y: scroll;
}
#nav-text {
	color: #222;
}
#nav-title {
	color: #e5491d;
	font-weight: bold;
}
#link:hover {
	color: #e5491d;
}
#nav-text:hover {
	color: #e5491d;
}