<!DOCTYPE html>
<html>
<head>
    <title>Podcasts</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 	<style>
 		

 	</style>
</head>
<style>
.navbar-default {
    background-color:#eee;
    color:#444;
    border-radius:0;
}
.btn {
	border: solid lightGrey 1px;
}
.btn-color {
    background-color:#999;
    color:#ffffff;
    border-radius:0;
    border: solid lightGrey 1px;
}
.title {
	color:#333;
}
.user-info {
	border: solid lightGrey 1px;
	margin-left: 20px;
	margin-right: 20px;
}
.profile-img {
	border-radius: 10px;
}
.playlist-block {
	border: solid lightGrey 1px;
}

</style>
<body>
	{% if session.get('username') %}
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
		      <a class="navbar-brand" href="#">SmartCast</a>
		    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="/user">Home</a></li>
	      <li><a href="/top-podcasts">Top Podcasts</a></li>
	      <li><a href="/search-events-form">Events</a></li>
	      <li><a href="/logout">Logout</a></li>
	    </ul>
	    <form class="navbar-form navbar-left" action="/search">
	      <div class="form-group">
	        <input type="text" class="form-control" placeholder="Search podcasts" name="q">
	      </div>
	      <button type="submit" class="btn btn-default btn-color">Submit</button>
	    </form>
	  </div>
	</nav>
	{% endif %}

	{% with messages = get_flashed_messages() %}
	{% if messages %}

	{% for message in messages %}
	<div class="alert alert-warning"> {{ message }} </div>
	{% endfor %}

	{% endif %}
	{% endwith %}

    {% block content %} put your content here {% endblock %}

</body>
</html>