{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

<div class="row">
	<div class="form-signin col-sm-4 col-sm-offset-4">
		<form action = "/login" method="post">
			<div class="col-4">
				<h2> SmartCast </h2>
			</div>
			<h4> member sign in </h4>
			<div class="col-sm-6">
			</div>
			<input type="text" class="form-control" name="username" placeholder="username">
			<br>
			<input type="password" class="form-control" name="password" placeholder="password">
			    <br><input class="btn btn-lg btn-color btn-block" type='submit' value="sign in">
			<div>
			</form>
				<h5> not a member? </h5>
			</div>
			<div>
			<form action="/registration">
				<input type="submit" class="btn btn-color" value="register">
			</form>
			<br>
		</div>
	</div>
</div>

</div>

{% endblock %}