{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">

<div class="row">
	<div class="form-signin col-sm-4 col-sm-offset-4">
		<form action = "/login" method="post">
			<div class="col-4">
				<h2> Website Name </h2>
			</div>
			<div class="col-sm-6">
				<h3> Sign In </h3>
			</div>
			<input type="text" class="form-control" name="username" placeholder="Username">

			<input type="password" class="form-control" name="password" placeholder="Password">
			    <br><input class="btn btn-lg btn-color btn-block" type='submit' value="Log In">
			<div>
			</form>
				<h5> Not a member? </h5>
			</div>
			<div>
			<form action="/registration">
				<input type="submit" class="btn btn-color" value="Register">
			</form>
		</div>
	</div>
</div>

</div>

{% endblock %}