{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
<h2> Results </h2>

{% for user in users %}
<form action="/add-friend" method="POST">
	<button type="submit" class="btn btn-none" id="link">
	<img src="../static/images/{{ user.image }}" class="friend-img" style="margin-right:10px"></img> {{ user.username }} 
	</button>
	<input type="hidden" name="add-friend" value="add friend">
	<input type="hidden" name="username" value="{{ user.username }}">
</p>
<br>
</form>
{% endfor %}
</div>

{% endblock %}