{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">

	<div class="row">
		<div class="col-sm-3 user-info">

			<h3 class="title"> {{ user.username }} </h3>

			{% if user.image %}
			<img height="200px" src="../static/images/{{ user.image }}" class="profile-img" /><br>
			{% endif %}

			<button class="btn btn-none" id="edit-btn"><img src="static/menu.svg" height="20px" alt="Edit" /></button></button>
			<div id="edit-form">
				<form action="/upload" enctype="multipart/form-data" method="POST">
				  Select image: <input type="file" name="photo"><br>
				  <input type="submit" class="btn btn-color" value="Upload">
				</form>
			</div><br>
			{% if friends %}
			<h4 class="title"> Following </h4>
				{% for friend in friends %}
				<form action="/friend" method="GET">
					<img src="../static/images/{{ friend.image }}" height="30px"style="border-radius:3px"></img>
					<input type="submit" class="btn" name="friend-profile" value="{{ friend.username }}">
					<input type="hidden" name="friend_id" value="{{ friend.user_id }}">
				</form>
				{% endfor %}
			{% endif %}
			<br>
			<form action="/search-users" method="GET">
				<input type="search" class="btn btn-search" name="search-friends" placeholder="Search users" id="search-friends">
				<button type="submit" class="btn">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</form>
			<br>
		</div>

		<div class="col-sm-7 playlist-block">
			<div id="playlist-parent">
			{% if playlists %}
			<h3 class="title"> Playlists <button class="btn btn-none" id="show-playlist-form"><img src="static/menu.svg" height="20px" alt="Add Playlist" /></button></h3>
			<div id="playlist-form">
				<form action="/add-playlist" method='post'>
					<input type="text" name="playlist-name" placeholder="Playlist name" required> <input type='submit' class="btn btn-color" id='new-playlist' value="Create"/>
				</form>
			</div>
			{% for playlist in playlists %}
			<p style="font-size:18px"> <button class="btn-color" id="plBtn{{ playlist.playlist_id }}" style="margin: 5px"> + </button> {{ playlist.title }} </p> 

				
				<div class="list-group" id="show-tracks-plBtn{{ playlist.playlist_id }}">
				{% if playlist.tracks %}
					{% for track in playlist.tracks %}
					<div class="list-group-item">
						<h4 class="list-group-item-heading"> {{ track.artist }}: {{ track.title }} </h4>
						
						<div id="track-div" class="list-group-item-text">
							<audio controls id="trackId{{ track.track_id }}" src="{{ track.audio }}" preload="auto">Your browser doesn't support the audio element.</audio><br>
							<button class="btn btn-none" id="re-trackId{{ track.track_id }}"><img src="static/rewind.svg" height="20px" alt="<<" /style="padding-right:5px">10</button><button class="btn btn-none" id="ff-trackId{{ track.track_id }}">30<img src="static/fast-forward.svg" height="20px" alt=">>" style="padding-left:5px"/></button>
							<button id="menu-track{{ track.track_id }}" class="btn btn-none"><img src="static/menu.svg" height="20px" alt="Options" /></button> 
							<div id="delete-track{{ track.track_id }}">
								<form action="/delete-track" method="POST">
									<button type="submit" class="btn btn-none">Delete Podcast</button>
									<input type="hidden" name="track_id" value="{{ track.track_id }}">
								</form>
							</div>
						</div>

						

					</div>
				
					{% endfor %}
				
				{% endif %}
				<form action="/delete-playlist" method="POST">
					<input type="submit" class="btn btn-none" value="Delete playlist"  id="delete-playlist">
					<input type="hidden" name="playlist_id" value="{{ playlist.playlist_id }}">
				</form>
			</div>
					

			{% endfor %}

			{% else %}
				<p> No playlists </p>
			{% endif %}
			</div>

		</div>
	</div>

</div>


<script>

$(document).ready(function () {
	$("[id*=show-tracks]").hide();
	$("p [id*=plBtn]").on('click', function() {
		let btn = $(this).html();
		if (btn == "-") {
			$(this).html("+");
		}
		else {
			$(this).html("-");
		}
		let id = $(this).attr("id");
		let thisDiv = "#show-tracks-" + id;
		$(thisDiv).toggle();
		// $(this).html("-");
	});
});

$(document).ready(function () {
	$("[id*=delete-track]").hide();
	$("[id*=menu-track]").on('click', function() {
		let id = $(this).attr("id");
		let thisDiv = "#delete-" + id.substring(5);
		$(thisDiv).toggle();
	})

	$("audio").on('click', function() {
		let cTime = $(this)[0].currentTime;
		console.log(cTime);
		let audioSrc = $(this).attr("src");
		localStorage.setItem(audioSrc, cTime);
		console.log(audioSrc);

		let savedTime = localStorage.getItem(audioSrc);
		// localStorage.removeItem("track-item");
		// console.log("Storage" + ": " + savedTime);
		let trackId = $(this).attr("id");
		console.log(trackId);
	});

	$("[id*=re]").on('click', function() {
		let reId = $(this).attr("id");
		let trackId = reId.substring(3);
		try {
			$("#" + trackId)[0].currentTime -= 10;
		}
		catch {
			null;
		}
		
	});
	$("[id*=ff]").on('click', function() {
		let ffId = $(this).attr("id");
		let trackId = ffId.substring(3);
		try {
			$("#" + trackId)[0].currentTime += 30;
		}
		catch {
			null;
		}
	});
});


$(document).ready(function () {
	$("#edit-form").hide();
	$("#edit-btn").on('click', function() {
		$("#edit-form").toggle();
	});
});


$(document).ready(function () {
	$("#playlist-form").hide();
	$("#show-playlist-form").on('click', function() {
		$("#playlist-form").toggle();
	});
});

</script>


{% endblock %}