{% extends 'base.html' %}
{% block content %}

<h2> Hello, {{ user.fname }} </h2>

<!-- <h3>Search Podcasts</h3>

<form action="/search-submit" method="GET">
	<input type="search" name="q" id="search-form">
<input type="submit" value="Submit">
</form> -->

<script>

$(document).ready(function() {
	$("[id*=show-tracks]").hide();
	$("[id*=playlist]").click(function() {
		$("[id*=show-tracks]").toggle();
	});
});

</script>

{% if playlists %}
<div>
<h3> Playlists </h3>
{% for playlist in playlists %}
<p> {{ playlist.title }}<button id="playlist{{ playlist.playlist_id}}">+</button></p> 

	{% if playlist.tracks %}
	<div id="show-tracks{{ playlist.playlist_id }}">
	<ul>
		{% for track in playlist.tracks %}
		
		<li> {{ track.title }} <br>
			<audio controls src="{{ track.audio }}">Your browser doesn't support the audio element.</audio>
		</li>
		<form action="/delete-track" method="POST">
			<input type="submit" value="Delete"  id="delete-track">
			<input type="hidden" name="track_id" value="{{ track.track_id }}">
		</form>
			<!-- <iframe sandbox="allow-same-origin allow-scripts allow-top-navigation allow-popups" 
			scrolling=no width="100%" height="185" frameborder="0" 
			src="{{ track.audio }}">
			</iframe> -->
		
		{% endfor %}
	</ul>
	</div>
	{% endif %}

{% endfor %}
</div>
{% endif %}

<h3> Add a new playlist </h3>
<form action="/add-playlist" method='post'>
	Playlist Name: <input type="text" name="playlist-name" required> <input type='submit' value='Add playlist' id='new-playlist'>
</form>

{% if friends %}
<h3> Friends </h3>
	{% for friend in friends %}
	<form action="/friend" method="GET">
		<input type="submit" name="friend-profile" value="Visit {{ friend.username }}'s page">
		<input type="hidden" name="friend_id" value="{{ friend.user_id }}">
	</form>
	{% endfor %}
{% endif %}

<h3>Search Users</h3>

<form action="/search-users" method="GET">
	<input type="search" name="search-friends" id="search-friends">
<input type="submit" value="Submit">
</form>


<script>

	let delBtn = $("#delete-track");

	delBtn.on('click', function (evt) {
		evt.preventDefault()
		alert("Delete track");
	});

</script>

<!-- <div name='playlist-popup' id='add-playlist'></div> -->


{% endblock %}